* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    overflow: none;
    text-align: center;
}

body {
    background-image: url(images/skyblockback.png);
    background-size: 2000px;
}

.search-title {
    color: #ffffff;
    padding: 20px;
}

#container {
    opacity: 90%;
    position: relative;
    top: 150px;
    margin: auto;
    width: 600px;
    height: 200px;
    background-color: rgb(31, 32, 34);
    border-radius: 20px;
}

#ids {
    padding: 30px;
    margin-top: 320px;
    color: #ffffff;
}

#inputBar, button {
    color: rgb(17, 16, 20);
    font-weight: bold;
    outline: none;
    margin-top: 20px;
    border: none;
}

button {
    height: 50px;
    width: 100px;
    background-color: #c6c6ca;
    margin: 0;
    border-radius: 0% 10px 10px 0%;
}

button:hover {
    background-color: #a9a9ad;
}

#inputBar {
    margin: 0;
    border-radius: 10px 0% 0% 10px;
    background-color: #c6c6ca;
    width: 420px;
    height: 48px;
    margin-bottom: 30px;
}

#title {
    color: #ffffff;
    font-size: 30px;
    padding: 20px;
}

#npc {
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
}

#bz {
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
}

#awsr {
    font-size: 30px;
    color: #ffffff;
    padding: 20px;
}
