* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Fira Code', monospace;
    background-color: #121212;
}

.container {
    width: 600px;
    height: 100%;
    margin: auto;
}

.top {
    text-align: center;
}

.dev {
    color: #535353;
}

.name {
    color: white;
}

.skills {
    padding-left: 70px;
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
}

.top img {
    margin-top: 80px;
    width: 100px;
    border-radius: 50%;
}

.info-title {
    padding-top: 60px;
    color: white;
}

.info {
    color: white;
    padding-bottom: 60px;
}

.item-title {
    font-family: "Segoe UI", Arial, sans-serif;
    color: #535353
}

.item {
    padding: 30px;
    color: white;
    font-family: "Segoe UI", Arial, sans-serif;
}

.nav {
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 180px;
    background-color: black;
    height: 50px;
    width: 350px;
    outline: 3px solid #535353;
}

.nav a {
    position: relative;
    display:inline-block;
    vertical-align:middle;
    color: white;
}

.home {
    position: relative;
    left: 20px;
    top: 13px;
}

.contact {
    position: relative;
    left: 140px;
    top: 13px;
}

.source {
    position: relative;
    left: 270px;
    top: 12px;
}

.logo {
    padding-left: 35px;
}

.logo:hover {
    filter: brightness(50%);
}

.home:hover, .contact:hover, .source:hover {
    color: gray;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  
  /* Hide the tooltip content by default */
  [data-tooltip]:before,
  [data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
  }
  
  /* Position tooltip above the element */
  [data-tooltip]:before {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -55px;
    padding: 7px;
    width: 100px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
  }

  
  /* Show tooltip content on hover */
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }