body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#reset-button {
    margin: 2.5px;
    padding: 10px;
    position: relative;
    top: -150px;
    left: 690px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    font-size: 14px;
}

#reset-button:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

#reset-button:active {
    background-color: #d1d1d1;
}

#hold-button {
    margin: 2.5px;
    padding: 10px;
    position: relative;
    top: -150px;
    left: 690px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffcc00;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    font-size: 14px;
}

#hold-button:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

#hold-button:active {
    background-color: #d1d1d1;
}
  
.keyboard {
    display: grid;
    grid-template-columns: repeat(15, 40px); /* Adjust the number of columns based on your layout */
    gap: 5px; /* Adjust the gap between keys */
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}

.key {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    font-size: 14px;
}

.active {
    background-color: #ffcc00; /* Change this color to represent the lit-up state */
    /* Add any other styles you want to apply when the key is lit up */
}

/* Styling for specific keys */
#backspace {
    grid-column: span 2;
}

#capslock {
    grid-column: span 2;
}

#tab {
    grid-column: span 2; /* Adjust the span to cover the enter key width */
}

#space {
    grid-column: span 6; /* Adjust the span to cover the space bar width */
}

#enter {
    grid-column: span 2; /* Adjust the span to cover the enter key width */
}

#lshift {
    grid-column: span 3; 
}

#lctrl {
    grid-column: span 2;
}

#rshift, #lalt, #ralt {
    grid-column: span 2; /* Adjust the span to cover the shift keys width */
}

/* Additional styles to make the keys look better */
.key:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.key:active {
  background-color: #d1d1d1;
}
